<h2>Customer Information</h2>
<div ng-controller="homeCntrl as homectrl">
<form method="post" ng-submit="homectrl.addCustomer()">
    <table>
        <tr>
            <td><label class="control-label " name="firstName">First Name</label></td>
            <td><input type="text" name="firstName" ng-model="homectrl.customer.firstName"/></td>
        </tr>
        <tr>
            <td><label class="control-label "  name="lastName">Last Name</label></td>
            <td><input type="text" name="lastName" ng-model="homectrl.customer.lastName"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="btn btn-primary " type="submit" value="Add Customer">
            </td>
        </tr>
    </table>
    <div ng-model="homectrl.resp"></div>
</form>
</div>