<h2>Customer Information</h2>
<div ng-controller="searchCntrl as searchctrl">
    <form method="post" ng-submit="searchctrl.getCustomer()">
        <table>
            <tr>
                <td><label class="control-label " name="firstName">First Name</label></td>
                <td><input type="text" name="firstName" ng-model="searchctrl.customer.firstName"/></td>
            </tr>
            <tr>
                <td><label class="control-label "  name="lastName">Last Name</label></td>
                <td><input type="text" name="lastName" ng-model="searchctrl.customer.lastName"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary " type="submit" value="Search Customer">
                </td>
            </tr>
        </table>
    </form>
</div>