<html xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring MVC Form Handling</title>
</head>
<body>

<h2>Customer Information</h2>
<form method="post" action="{{rc.contextPath}}/addCustomer">
    <table>
        <tr>
            <td><label name="firstName">First Name</label></td>
            <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td><label name="lastName">Last Name</label></td>
            <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>