<!DOCTYPE html>

<html lang="en">

<body>
<table border="1" style="width:30%">
    {{#each message.content}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>

                {{this.firstName}}
            </td>
            <td>
                {{this.lastName}}
            </td>
        </tr>
    {{/each}}

</table>
</body>

</html>